In [2]:
import geopandas as gpd
from pymapd import connect
import timeit
import os

In [3]:
MAPD_STORAGE = %env MAPD_STORAGE
MAPD_ERROR_LOG = os.path.join(MAPD_STORAGE,'data/mapd_log/mapd_server.ERROR')

In [5]:
pwd = %pwd
shapefile = 'building_footprint_polys_w_ids.shp'
shapepath = os.path.join(pwd, shapefile)
print('Shape path is: {}'.format(shapepath))

Shape path is: /home/mapdadmin/demo/tahoe/laz/building_footprint_polys_w_ids.shp

In [6]:
local_bld = gpd.read_file(shapefile)
local_bld.head()

,PAS,LU_ID,TMDL_CODE,TMDL_DESC,LU_DESC,IMP_ID,COVER_ID,IMP_DESC,COVER_DESC,Impervious,Bld_ID2,ID,geometry
0,Yes,1003,0.0,None,Trails-Impervious,4,1,Building,Hard,1.0,1,1,POLYGON ((-13367379.78247419 4703625.392935817...
1,Yes,1003,0.0,None,Roads_Impervious,4,1,Building,Hard,NaN,2,2,POLYGON ((-13366397.43129916 4704896.538210514...
2,No,1003,0.0,None,Trails-Impervious,4,1,Building,Hard,1.0,3,3,POLYGON ((-13369135.87060145 4703817.955506972...
3,Yes,1003,0.0,None,Roads_Impervious,4,1,Building,Hard,NaN,4,4,POLYGON ((-13366462.57526186 4704994.943857891...
4,Yes,1003,0.0,None,Roads_Impervious,4,1,Building,Hard,NaN,5,5,"POLYGON ((-13366414.7051146 4705007.353525128,..."

In [7]:
start_time = timeit.default_timer()
try:
    con = connect(user="mapd", password="HyperInteractive!", host="localhost", dbname="mapd")
except:
    print('Problem connecting to local mapd instance, check config')
print('Connecting to mapd took {0:.2f} seconds'.format(timeit.default_timer() - start_time))

Connecting to mapd took 0.24 seconds

In [9]:
# import from web mercator shapefile using geo option
table_name = 'tahoe_bld_footprints'
query = "COPY {} FROM '{}' ".format(table_name, shapepath)
query += "WITH (GEO='True');"
query

"COPY tahoe_bld_footprints FROM '/home/mapdadmin/demo/tahoe/laz/building_footprint_polys_w_ids.shp' WITH (GEO='True');"

In [10]:
try:
    con.execute(query)
except:
    print('oops')

In [51]:
mapd_tables_list = con.get_tables()

In [53]:
for t in mapd_tables_list:
    if t == table_name:
        print(t)

tahoe_bld_footprints

In [57]:
# table exists
# why does this get key error 16?
con.get_table_details(table_name)

KeyError: 16

In [44]:
def print_char_numbers(input_str):
    upper_str = ''
    lower_str = ''
    for s in range(0,len(input_str)):
        upper_str + str(s)[0]
        lower_str += str(s % 10)
    print(upper_str)
    print(lower_str)

In [58]:
#10.76391 * ST_AREA(mapd_geo) AS sqft_mapd
query = 'SELECT Bld_ID2, '
query += 'ST_AREA(mapd_geo) AS sqm_mapd '
query += 'FROM {} ;'.format(table_name)
print_char_numbers(query)
query

0123456789012345678901234567890123456789012345678901234567890123456789012

'SELECT Bld_ID2, ST_AREA(mapd_geo) AS sqm_mapd FROM tahoe_bld_footprints ;'

In [59]:
try:
    con.execute(query)
except:
    print('oops')

In [63]:
try:
    df = con.select_ipc(query)
    df.head()
except:
    print('Problem running query')
    !tail -50 {MAPD_ERROR_LOG}

In [64]:
df

       Bld_ID2      sqm_mapd
0         1001  2.602519e-09
1         1002  2.767138e-09
2         1003  2.147317e-09
3         1004  7.419658e-09
4         1005  1.964963e-09
5         1006  1.806256e-09
6         1007  1.734406e-09
7         1008  6.446044e-09
8         1009  1.359967e-08
9         1010  1.306944e-09
10        1011  1.258286e-09
11        1012  1.611625e-09
12        1013  6.712071e-10
13        1014  1.482931e-09
14        1015  1.633907e-09
15        1016  1.515218e-09
16        1017  1.472927e-09
17        1018  1.723038e-09
18        1019  3.788045e-10
19        1020  1.727585e-09
20        1021  1.833996e-09
21        1022  4.270987e-09
22        1023  1.711214e-09
23        1024  1.713488e-09
24        1025  1.592070e-09
25        1026  8.513780e-09
26        1027  2.037268e-10
27        1028  6.257324e-10
28        1029  2.919478e-10
29        1030  7.471499e-10
...        ...           ...
50178    48971  8.084953e-09
50179    48972  3.436162e-08
50180    48973  2.180695e-08
50181    48974  6.149730e-08
50182    48975  1.873786e-08
50183    48976  1.789249e-08
50184    48977  2.018714e-08
50185    48978  2.727802e-08
50186    48979  1.835224e-08
50187    48980  1.957051e-08
50188    48981  3.013156e-09
50189    48982  3.042533e-08
50190    48983  1.001717e-08
50191    48984  8.691131e-09
50192    48985  1.073204e-09
50193    48986  2.741535e-08
50194    48987  1.740864e-08
50195    48988  2.316619e-08
50196    48989  8.307325e-09
50197    48990  5.051515e-08
50198    48991  1.958961e-08
50199    48992  2.122806e-08
50200    48993  9.178621e-09
50201    48994  8.494681e-09
50202    48995  2.253319e-08
50203    48996  1.322769e-08
50204    48997  2.437991e-08
50205    48998  3.030800e-08
50206    48999  1.056651e-08
50207    49000  2.495472e-08

[50208 rows x 2 columns]

In [65]:
df.mean()

Bld_ID2     2.510450e+04
sqm_mapd    1.570475e-08
dtype: float64